.leftPage {
  background: #ffffff;
  width: 100%;
}

.yearSelector {
display: flex;
gap: 2%;
font-size: 25px;
border-bottom: 1px solid #BDBDBD;
padding: 2% 4%;
}

.yearSelector button {
font-family: "Nanum", sans-serif;
font-size: 25px;
background: none;
border: none;
cursor: pointer;
transition: color 0.3s ease-in-out;
}

.yearSelector .selectedYear {
font-weight: bold;
font-family: "Nanum", sans-serif;
font-size: 25px;
}

.deleteButton {
margin-left: auto;
background: none;
border: none;
font-size: 18px;
cursor: pointer;
color: #E74C3C;
}

.diaryTableContainer {
max-height: 20%;
overflow-y: auto;
}

.diaryTable {
width: 100%;
border-collapse: collapse;
}

.diaryTable th {
font-size: 25px;
padding: 2%;
border-bottom: 1px solid #BDBDBD;
}

.checkBoxHeader {
width: 60px;
}

.checkBoxCell {
text-align: center;
border-right: 1px solid #BDBDBD;
border-bottom: 1px solid #BDBDBD;
}

.checkIcon {
  margin-top: 5px;
  width: 19px;
  height: 19px;
}

.diaryHeader {
font-weight: normal;
text-align: center;
transform: translateX(-40px);
}

.diaryTable td {
font-size: 21px;
padding: 1.5%;
}

.entryRow {
padding: 2%;
border-bottom: 1px solid #BDBDBD;
}

.entryDateWeather {
display: flex;
align-items: center;
gap: 2%;
}

.entryTitleWrapper {
  display: flex;
  align-items: center;
}

.entryTitle {
padding-left: 0;
font-size: 21px;
}

.weatherIconSmall {
width: 25px;
height: 25px;
margin-right: 2%;
}

.noEntries {
text-align: center;
padding: 4%;
font-size: 23px;
color: #BDBDBD;
}



.rightPage {
  background: #ffffff;
  width: 100%;
}

.weatherSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 25px;
  padding: 2% 4%;
  border-bottom: 1px solid #BDBDBD;
  position: relative;
  gap: 1%;
}

.dateContainer {
  margin-left: 6%;
  display: flex;
  align-items: center;
  gap: 1.5%;
}

.dateInput {
  font-family: "Nanum", sans-serif;
  font-size: 23px;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  text-align: center;
  margin-right: 0.5%;
  width: 50px;
}

.weatherLabel {
  margin-left: 6%;
}

.weatherIcons {
  display: flex;
  margin-left: 2%;
  gap: 12%;
}

.weatherIcon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.weatherIcon.selected {
  outline: 1px solid #BDBDBD;
  outline-offset: 2px;
}



.titleInput {
  font-size: 25px;
  display: flex;
  align-items: center;
  margin: 2% 4%;
}

.inputField {
  font-family: "Nanum", sans-serif;
  font-size: 22px;
  flex-grow: 1;
  padding: 1.5%;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  margin-left: 2%;
  outline: none;
}

.submitButton {
  font-family: "Nanum", sans-serif;
  font-size: 18px;
  font-weight: bold;
  width: 60px;
  padding: 1% 0.6%;
  background-color: #DEDEDE;
  color: black;
  border: 1px solid #969393;
  border-radius: 8px;
  margin-top: 2%;
  margin-left: 2%;
}

.contentBox {
  position: relative;
  border: 1px dashed #BDBDBD;
  width: 90%;
  height: 260px;
  margin-left: 5%;
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 3%;
  display: flex;
  gap: 2%;
}

.imagePreview {
  width: calc(100% - 4px); 
  height: calc(100% - 4px);
  object-fit: contain;
  margin: 2px;
}

.imageUploadLabel {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.imageUploadInput {
  display: none;
}

.imgAddIcon {
  width: 25px;
  height: 25px;
}


.textBox {
  width: 100%;
  max-width: 90%;
  height: 100%;
  border: none;
  cursor: text;
}


.textArea {
  font-family: "Nanum", sans-serif;
  font-size: 22px;
  width: 100%;
  height: 25vh;
  border: none;
  outline: none;
  resize: none;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  background-image: linear-gradient(to bottom, transparent 38px, #BDBDBD 39px, white 40px);
  background-size: 100% 40px; 
  line-height: 40px; 
  padding-left: 10px; 
  white-space: pre-wrap;
  background-attachment: local;
  margin-left: 35px;
  margin-top: 22px;
  box-sizing: border-box;
}

.textArea::-webkit-scrollbar {
  display: none;
}


