html, body {
    min-width: 1440px;  /* 최소 너비 */
    min-height: 900px;  /* 최소 높이 */
    overflow-x: auto;   /* 가로 스크롤 방지 */
    background-color: #EEF4F6;
    margin: 0;
    padding: 0;
  }
  
  .title {
    font-size: 30px;
    font-weight: 100;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px; /* 제목 아래 여백 */
    display: flex;
    flex-direction: column;
    
  }
  
  .mypageBox {
    background-color: white;
    width: 97%;
    height: 85%;
    border: 1px solid #BDBDBD;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .box1 {
    width: 60%;
    height: 100%;
    border-right: 1px solid #BDBDBD;
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    position: relative; /* 내부 요소 배치 조정 */
  }

  .box2{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    position: relative; /* 내부 요소 배치 조정 */
  }
  .formGroup {
    display: flex;
    flex-direction: column;
    width: 77%;
    height:65%;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border: 1px dashed #BDBDBD;
    padding: 30px;
  }
  .title2 {
    display: flex;
    width: 85%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .title2 h3{
    font-size: 25px;
    font-weight: 100;
    
  }

  .saveBtn{ 
    font-family: "Nanum", sans-serif;
    font-size: 15px;
    border: 1px solid #969393;
    background-color: #DEDEDE;
    border-radius: 7px;
    width: 50px;
    height: 50%;
  }

  .saveBtn:active {
    transform: scale(0.95); /* 클릭 시 버튼이 약간 작아지는 효과 */
  }
    
  .inputRow {
    display: flex;
    align-items: center;
    width: 70%;
  }
  
  .inputRow h3 {
    width: 80px;
    font-size: 22px;
    font-weight: 80;
    text-align: left;
  }
  
  .inputRow input {
    flex: 1; 
    padding: 10px;
    font-family: "Nanum", sans-serif;
    font-size: 22px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    
  }

  .member{
    display:flex;
    justify-content: right;
    width:70%
  }

  .memberBtn{
    font-family: "Nanum", sans-serif;
    font-size: 15px;
    color: #ABABAB;
    border: none;
    background-color: transparent;
    border-radius: 7px;
  }

  .memberBtn:hover{
    color: red;
  }
  
  .formbox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65%;
    align-items: center;
  }
  .box2 .formGroup{
    width: 70%;
    margin-bottom:14px;
    flex-direction: row;
    gap:10px;
    padding:10px;
  }
  .formGroup:hover {
    background-color: #F7F7F7;
  }
  .colorCircle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #BDBDBD;
  }
  
