.input {
  font-family: "Nanum", sans-serif;
  width: 97%;
  max-width: 440px;
  height: clamp(30px, 9vh, 55px);
  padding: 5px;
  font-size: clamp(20px, 3vw, 28px);
  border: none;
  border-radius: 8px;
  background-color: #E6E6E6;
  outline: none;
  margin-bottom: 15px;
}
