
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 9.6%;
}


.loginBox {
  font-family: "Nanum", sans-serif;
  width: 450px; 
  padding: 40px;
  background: #fff;
  border-radius: 24px;
  text-align: center;
  border: 2px solid #D9D9D9;
}

.logo {
  width: 160px;
  height: 70px;
  margin-bottom: 35px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.links {
  margin-top: 15px;
  color: #8C8C8C;
}

.linkButton {
  font-family: "Nanum", sans-serif;
  background: none;
  border: none;
  color: #8C8C8C;
  font-size: 1.2rem;  /* 고정 크기 */
  cursor: pointer;
  padding: 5px;
  margin: 0 5px;
}

.socialLoginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin: 20px 0;
}

.socialLoginWrapper::before,
.socialLoginWrapper::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #D9D9D9;
}

.socialLoginText {
  font-size: 1.3rem;
  color: #4D4D4D;
  background-color: #fff;
  padding: 0 20px;
  white-space: nowrap; 
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.Slogo {
  width: 8vw;
  max-width: 45px;
  min-width: 30px;
  height: auto;
}
