body {
  background-color: #EEF4F6;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #EEF4F6;
  height: 5vh;
  padding: 2vh 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 8vw; /* 화면 크기에 맞게 조절 */
}

.buttonContainer {
  display: flex;
  gap: 1vw;
  
}

.buttonContainer button {
  font-family: "Nanum", sans-serif;
  padding: 1vh 1.7vw;
  font-size: 2vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

.main {
  background-color: #EEF4F6;
  display: flex;
  flex-wrap: nowrap;
  padding: 2vh 2vw;
  justify-content: center;
}

.Container{
  width: 100%;
  min-height: 50vh;
  background-color: #EEF4F6;
  display: flex;
  gap: 2vw;
  justify-content: center;
  position: relative;
  
}

.backgroundbox {
  background-color: #D3E2E9;
  flex: 1; /* 화면 크기에 맞춰 자동 조절 */
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dottedbox {
  background-color: transparent;
  width: 95%;
  height: 95%;
  border: 2px dashed white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: white;
  width: 90%;
  height: 90%;
  border: none;
  padding: 1vw;
}

.springContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40vh;
  z-index: 10;
}

/* Spring 아이콘 크기 조정 */
.springIcon {
  width: 5vw;
  max-width: 60px;
  height: auto;
}

