html, body {
    min-width: 1440px;  /* 최소 너비 */
    min-height: 900px;  /* 최소 높이 */
    overflow-x: auto;   /* 가로 스크롤 방지 */
    background-color: #EEF4F6;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #EEF4F6;
    height: 50px;
    padding: 20px 10px 0px 10px;
    display: flex; /* Flexbox 적용 */
    justify-content: space-between; /* 요소를 양 끝으로 정렬 */
    align-items: center; /* 세로 정렬 */
  }
  
  .logo {
    width: 120px;
    margin-left: 20px; /* 왼쪽 여백 추가 */
  }
  .buttonContainer {
    display: flex;
    gap: 5px; /* 버튼 간격 조정 */
    margin-right: 10px; /* 오른쪽 여백 추가 */
  }
  
  .buttonContainer button {
    font-family: "Nanum", sans-serif;
    padding: 10px 15px;
    font-size: 23px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
  }
  
  .seperate{
    font-family: "Nanum", sans-serif;
    font-weight:100;
    font-size:23px;
    cursor: none;
  }
  
  .main {
    height: 85vh;
    background-color: #EEF4F6;
    display: flex;
    padding: 20px;
    gap: 20px;
  }

  .backgroundbox{
    background-color: #D3E2E9;
    height: 100%;
    width: 100%;
    display: flex; 
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    position: relative;
  }
  
  .dottedbox {
    background-color: transparent;
    height: 90%;
    width: 95%;
    border: 2px dashed white;
    display: flex; 
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    padding: 0px;
  }
  
  .box{
    background-color: #F7F7F7;
    height: 90%;
    width: 95%;
    border: none;
    padding: 5px;
  }
  